name: Build-Test
#TRUE
# Controls when the action will run. 
on:
   # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: 
      - "*"
  pull_request:
    branches:
      - "*"
env:
  QREPOURL: ${{secrets.QREPOURL}}     

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
     # The type of runner that the job will run on
    runs-on: ubuntu-latest
   
    defaults:
      run:
        shell: sh
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
     # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    # Runs a set of commands using the runners shell
    - name: Lint and Test
      run: |
        npm install
        npm run lint
        npm test
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --rm -t "${QREPOURL}:${GITHUB_SHA}"
