name: Release and Prerelease

#on:
  #release:
    #types: [published, prereleased]

on:
  push:
    tags: 
        - '[0-9]+.[0-9]+.[0-9]'
        - '[0-9]+.[0-9]+.[0-9]+_[0-9][0-9][0-9]'
    
env:
  USERNAME: ${{secrets.QUSERNAME}}
  PASSWORD: ${{secrets.QPASSWORD}}
  QREPOURL: ${{secrets.QREPOURL}}
 

jobs:
  check_tag:
    runs-on: ubuntu-latest
    outputs:
      release: ${{ steps.check-tag.outputs.release }}
      prerelease: ${{ steps.check-tag.outputs.prerelease }}
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Check Tag
        id: check-tag
        # shellcheck shell=bash
        run: |
          if [[ ${{ steps.get_version.outputs.VERSION }} =~ ^[0-9]+.[0-9]+.[0-9]+$ ]]; then          
            echo ::set-output name=prerelease::true
            echo ::set-output name=release::true
          elif [[ ${{ steps.get_version.outputs.VERSION }} =~ ^[0-9]+.[0-9]+.[0-9]+_[0-9]{3}$ ]]; then
            echo ::set-output name=prerelease::true
          else
            exit 1
          fi
  pre-release_build:
    needs: [check_tag]
    if: needs.check_tag.outputs.prerelease == 'true'
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image 
        run: |
          docker build . --file Dockerfile --rm -t "${QREPOURL}:${GITHUB_SHA}"
          docker login -u="${USERNAME}" -p="${PASSWORD}" quay.io
          docker push "${QREPOURL}:${GITHUB_SHA}"
 
 
  release-build:
    
    needs: [check_tag]
    if: needs.check_tag.outputs.release == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: |
         docker build . --file Dockerfile --rm -t "${QREPOURL}:${GITHUB_SHA}"
         docker images
         IMAGE_ID=${QREPOURL}:${GITHUB_SHA}
         VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
         [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
         [ "$VERSION" == "master" ] && VERSION=latest
         docker tag ${QREPOURL}:${GITHUB_SHA} ${QREPOURL}:${VERSION}
         ./build/process-template.sh kubernetes/RemoteResource/resource.yaml >/tmp/resource.yaml
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
          scope: '@testtasneem' 
      - name: publish npm
        run: |
            npm install --also=dev
            npm run release -- --release-as ${{ steps.get_version.outputs.VERSION }}
            npm publish --access public
            env:
            NODE_AUTH_TOKEN: ${{secrets.NPMJSAPIKEY}}
